:root {
    --negro: #050505;
    --fondo: #121212;
    --panel: #1A1A1A;
    --dorado: #D4AF37;
    --borde: #333333;
    --texto: #E4E4E6;
    --texto-secundario: #999999;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--fondo);
    color: var(--texto);
}

.header {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--fondo);
    border-right: 1px solid var(--borde);
}